<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><strong style="color:#17a2b8;background-color: padding-left 4px;padding-right:4px;">{{site.title}}</strong></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-item nav-link active lighter-on-hover" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-item nav-link active lighter-on-hover" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-item nav-link active lighter-on-hover" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
