<ul class="social">
    <li><a href="https://github.com/{{ site.social_github }}" target="_blank"><i class="icon icon-github"></i></a></li>
    <li><a href="https://twitter.com/{{ site.social_twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
    <li><a href="https://instagram.com/{{ site.social_instagram }}" target="_blank"><i class="icon icon-instagram"></i></a></li>
    <li><a href="https://app.snapchat.com/web/deeplink/snapcode?username={{ site.social_snapchat }}&type=SVG&size=240" target="_blank"><i class="icon icon-snapchat"></i></a></li>
  </ul>